{% extends './layout.html' %} {% block content %}
<div class="container">
  <h1>Register</h1>

  <form action="/auth/register" method="POST">
    <div class="form-group">
      <label for="inputEmail">Email address</label>
      <input
        type="email"
        class="form-control"
        name="inputEmail"
        id="inputEmail"
        aria-describedby="emailHelp"
        required
      />
    </div>
    <div class="form-group">
      <label for="inputPassword">Password</label>
      <input
        type="password"
        class="form-control"
        name="inputPassword"
        id="inputPassword"
        required
      />
    </div>
    <div class="form-group">
      <label for="inputPasswordConfirm">Confirm Password</label>
      <input
        type="password"
        class="form-control"
        name="inputPasswordConfirm"
        id="inputPasswordConfirm"
        required
      />
    </div>
    <div class="form-group">
      <label for="inputUsername">Username</label>
      <input
        type="text"
        class="form-control"
        name="inputUsername"
        id="inputUsername"
        required
      />
    </div>
    <div class="form-group">
      <label for="inputFirstName">First Name</label>
      <input
        type="text"
        class="form-control"
        name="inputFirstName"
        id="inputFirstName"
        required
      />
    </div>
    <div class="form-group">
      <label for="inputLastName">Last Name</label>
      <input
        type="text"
        class="form-control"
        name="inputLastName"
        id="inputLastName"
        required
      />
    </div>
    <p>
      Already have an account?
      <a href="{{ url_for('auth.login') }}">Login Here.</a>
    </p>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
{% endblock content %}
